.nav {
  width: 100%;
  height: 6rem;
  background-color: #233B6E;
  color: white;
}

.nav__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__link {
  padding: 0 1rem;
}

.nav__title {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav__right , .nav__left {
  display: flex;
  align-items: center;
}

.nav__subtitle {
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  padding: 0 1rem;
  opacity: 0.4;
}

.nav__links {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.nav__link {
  transition: opacity 400ms cubic-bezier(0.2,1,0.3,1);
  cursor: pointer;
  opacity: 0.8;
}

.nav__link:hover {
  opacity: 1;
}

.nav__link--active {
  opacity: 1;
}
